name: Test
on: push

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - run: brew audit --strict Formula/*
    - run: brew install Formula/*
    - run: brew test Formula/*
