name: Test
on: [push, pull_request]

jobs:
  lint:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - run: brew audit --strict Formula/*

  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - run: brew install Formula/*
    - run: brew test Formula/*
